<!DOCTYPE html>
<html>
<head>
    <title>Browse Data</title>
</head>
<body>
    <h1>Browse Data</h1>
    <form action="/browse" method="get">
        <input type="text" name="query" value="{{ query }}" placeholder="Search data">
        <button type="submit">Search</button>
    </form>
    <table border="1">
        <tr>
            {% for column in data[0].keys() %}
                <th>{{ column }}</th>
            {% endfor %}
        </tr>
        {% for row in data %}
        <tr>
            {% for value in row.values() %}
                <td>{{ value }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>
</html>
